.product__image {
    cursor: pointer;
    width: 250px;
    height: 250px;
    object-fit: contain;
}

@media screen and (max-width: 530px) {
    .product__image {
        width: 100%;
        height: 250px;
        object-fit: contain;
    }
}