.header__cart-link-text {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    color: black;
}

@media screen and (max-width: 530px) {
    .header__cart-link-text {
        display: none;
    }
}