.order__textarea {
    padding: 12px 10px 8px;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    font-size: 1.1em;
    outline: none;
    font-size: 16px;
    min-height: 50px;
    transition: border-color .2s ease-out;
    transition: opacity .2s ease-out;
}

.order__textarea:focus {
    border-color: rgb(224, 224, 224);
}

.order__textarea:disabled {
    opacity: .4;
}